# Flask web framework
Flask==3.1.1

# Template rendering
Jinja2==3.1.6

# Basic requirements
pathlib==1.0.1
python-dotenv==1.1.0

# For the plugin system
importlib-metadata==6.0.0

# For API requests
requests==2.32.3

# Utility packages
PyYAML==6.0.1
pytz>=2021.1
backports.zoneinfo>=0.2.1;python_version<"3.9"

# Google API libraries
google-api-python-client>=2.126.0
google-auth>=2.29.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0

# Logging
logging==0.4.9.6 