# Flask web framework
Flask==3.1.1

# Template rendering
Jinja2==3.1.6

# Basic requirements
pathlib==1.0.1
python-dotenv==1.1.0

# For the plugin system
importlib-metadata==6.0.0

# For API requests
requests==2.32.3

# Utility packages
PyYAML==6.0.1

logging==0.4.9.6 